@import "tailwindcss";

@theme{
    --color-white: #FFFFFF;
    --color-gray: #FFFFFFB2;
    --color-primary: #39965F;
    --color-black_1b: #1B1B1B;
    --color-gray-border: #FFFFFF40;
    --default-font-family: 'Poppins', sans-serif;
}

@layer base{
    @font-face {
        font-display: swap; 
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        src: url('./fonts/poppins-v23-latin-regular.woff2') format('woff2'); 
    }

    @font-face {
        font-display: swap; 
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        src: url('./fonts/poppins-v23-latin-700.woff2') format('woff2'); 
    }
    @font-face {
        font-display: swap; 
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        src: url('./fonts/poppins-v23-latin-600.woff2') format('woff2');
    }
}

span{
    color: #39965F;
}
.animation_move {
    animation: move 4s infinite linear;
}
@keyframes move {
    0% {transform: translateX(0);}
    50% {transform: translateX(.75rem);} 
    100%{transform: translateX(0);}     
}